@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'https://use.fontawesome.com/releases/v7.0.1/css/all.css';

html {

  background-image: repeating-linear-gradient(
    -55deg,
    #000,
    #000 10em,
    #ffb101 10em,
    #ffb101 20em
  );

        font-family: Roboto;

}

 body {
        display: grid;
        align-content: space-between;

        margin: 0em;
        gap: 1em;

        h1, h2, h3, h4, h5, h6 {
            margin: .5em 0;
        }

        a {
            text-decoration: none;
            transition: color 500ms;
            color: black;
        }

        input, button {
            font-family: Roboto;
            padding: .75em;
            border-radius: .75em;
        }

        button, input[type=submit] {
            font-weight: bold;
            border: none;
            cursor: pointer;
            transition: background-color 500ms;
        }

        input {
            border-style: solid;
            border-color: var(--color-b);

            color: var(--color-b);

            &:focus {
                color: var(--color-d);
            }

            &::placeholder {
                color: var(--color-b);
            }

            &[type=submit] {
                background-color: var(--color-c);
                color: var(--color-a);
                &:hover, &:focus {
                    background-color: var(--color-b);
                }
            }
        }
    }



main {
    color: #5e5e5e;

    border-radius: 1em;
    padding: 2em;

    align-self: center;
    justify-self: center;

    a {
        &:hover {
            color: inherit;
        }
    }
}

footer {
    text-align: center;
    font-weight: bold;
    color: white;
}